html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: beige;
}
nav {
    border: none;
    border-radius: 50px;
    padding: 0.5em 1em;
    display: flex;           
    justify-content: space-between; 
    align-items: center;  
    background-color: red;    
  }

  nav a {
    color: black;
    font-size: 1.5em;
    border: 1px solid black; 
    border-radius: 50px;
    background-color: orange;
    text-decoration: none;
    padding: 5px;    
}

nav a:hover{
    color: white;
}


h1{
    text-align: center;
    margin: -10px;
    padding: -5px;
}
footer{
    background-color: black;
    margin: 0;
    padding: 0;
    bottom: 0;
    position:relative;
    width: 100vw;
}
#copyright-message{
    text-align: center;
    color: white;
}

#code {
    background-color: black;
    color: white;
    border: 1px solid white; /* Added width and color to the border */
    padding: 10px;  /* Added padding for readability */
    overflow: auto;  /* Changed to auto to show scrollbars if content overflows */
    width: 75vw;
}

code {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}




