@keyframes gradientAnimation {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
  }

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to left, rgb(63, 113, 1), rgb(131, 227, 149));	
    background-size: 200% 200%; 
	animation: gradientAnimation 5s ease infinite;
}

footer{
    background-color: black;
    margin: 0;
    padding: 0;
    bottom: 0;
    position:relative;
    width: 100vw;
}
#copyright-message{
    text-align: center;
    color: white;
}

#code {
    background-color: black;
    color: white;
    border: 1px solid white; /* Added width and color to the border */
    padding: 10px;  /* Added padding for readability */
    overflow: auto;  /* Changed to auto to show scrollbars if content overflows */
    width: 75vw;
}

code {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}




