html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: beige;
}

#titlePage{
    text-align: center;
    background-color: red;
    margin: -10px;
    padding: -5px;
}
footer{
    background-color: black;
    margin: 0;
    padding: 0;
    bottom: 0;
    position:relative;
    width: 100vw;
}
#copyright-message{
    text-align: center;
    color: white;
}

#code {
    background-color: black;
    color: white;
    border: solid;
    justify-content: left;
    left:auto;
    overflow:hidden;
    width: 50vw;

}

code {
    font-family: 'Trebuchet MS', sans-serif; 
    font-size: 14px;
    text-align: left;
}



